@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 165 45% 16%;
    --card: 0 0% 100%;
    --card-foreground: 165 45% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 165 45% 16%;
    --primary: 165 55% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 50% 62%;
    --secondary-foreground: 165 45% 16%;
    --muted: 0 0% 89%;
    --muted-foreground: 157 8% 39%;
    --accent: 146 45% 89%;
    --accent-foreground: 168 56% 28%;
    --destructive: 11 61% 47%;
    --destructive-foreground: 0 0% 100%;
    --success: 165 55% 41%;
    --success-foreground: 0 0% 100%;
    --border: 0 0% 86%;
    --input: 0 0% 86%;
    --ring: 165 55% 41%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 162 36% 11%;
    --foreground: 0 0% 93%;
    --card: 160 32% 15%;
    --card-foreground: 0 0% 93%;
    --popover: 160 32% 15%;
    --popover-foreground: 0 0% 93%;
    --primary: 145 50% 62%;
    --primary-foreground: 162 36% 11%;
    --secondary: 168 56% 28%;
    --secondary-foreground: 0 0% 93%;
    --muted: 161 33% 17%;
    --muted-foreground: 158 14% 65%;
    --accent: 168 56% 28%;
    --accent-foreground: 0 0% 93%;
    --destructive: 13 68% 63%;
    --destructive-foreground: 162 36% 11%;
    --success: 145 50% 62%;
    --success-foreground: 162 36% 11%;
    --border: 163 35% 22%;
    --input: 163 35% 22%;
    --ring: 145 50% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
