DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=fintech
DATABASE_PASSWORD=fintech123
DATABASE_NAME=fintech_db

JWT_SECRET=supersecret_mude_em_producao
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

PORT=3000
NODE_ENV=development
