DATABASE_URL=postgresql://fintech:fintech123@localhost:5433/fintech_db

JWT_SECRET=token_super_secreto
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refresh_token_secreto
JWT_REFRESH_EXPIRES_IN=7d

PORT=3000
NODE_ENV=development
